@font-face {
    font-family: 'Helvetica';
    src:  url('../../fonts/HelveticaRegular/HelveticaRegular.woff') format('woff2'),
    url('../../fonts/HelveticaRegular/HelveticaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.svg_import {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1250.000000 1280.000000' preserveAspectRatio='xMidYMid meet'%3e%3cmetadata%3e Created by potrace 1.15, written by Peter Selinger 2001-2017 %3c/metadata%3e%3cg transform='translate(0.000000,1280.000000) scale(0.100000,-0.100000)' fill='%231faeea' stroke='none'%3e%3cpath d='M0 6400 l0 -6400 6250 0 6250 0 -1 5368 0 5367 -1047 1032 -1047 1033 -5202 0 -5203 0 0 -6400z m9390 3555 l0 -1935 -3140 0 -3140 0 0 1935 0 1935 3140 0 3140 0 0 -1935z m1370 -6450 l0 -2455 -4510 0 -4510 0 0 2455 0 2455 4510 0 4510 0 0 -2455z'/%3e%3cpath d='M7210 9955 l0 -1205 695 0 695 0 0 1205 0 1205 -695 0 -695 0 0 -1205z'/%3e%3cpath d='M2650 4845 l0 -295 3600 0 3600 0 0 295 0 295 -3600 0 -3600 0 0 -295z'/%3e%3cpath d='M2652 3518 l3 -293 3595 0 3595 0 3 293 2 292 -3600 0 -3600 0 2 -292z'/%3e%3cpath d='M2650 2110 l0 -290 3600 0 3600 0 0 290 0 290 -3600 0 -3600 0 0 -290z'/%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.main-lc {
    font-family: "Helvetica";
    font-weight: normal;
    font-size: 14px;
}

.main-lc .main {
    color: rgba(0, 0, 0, 0.87);
}

.wrap_table {
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 4px;

}

.table .thead .tr {
    cursor: pointer;
}

.table {
    overflow: auto;
    min-width: 800px;
}

.wrap_td_icons {
    display: flex;
    grid-gap: 10px;
}

.wrap_my_table {
    width: 100%;
    overflow-X: auto;
    overflow-y:visible;
}

.table .thead .tr,
.table .tbody .tr {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    width: 100%;
}

.table {
    width: 100%;
}

.table .thead .tr {
    text-align: left;
}

.table .thead .tr .th {
    padding: 10px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.table .tbody .tr .td {
    padding: 10px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    height: auto;
}

/*
.table .thead,
.table .tbody {
    min-width: 400px;
    max-width: 100%;
}

.table_vebinar .thead,
.table_vebinar .tbody{
    min-width: 1400px;
}

.table .thead .tr,
.table .tbody .tr {
    width: auto;
    max-width: 100%;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    display: grid;
}

.table_curses .thead .tr,
.table_curses .tbody .tr {
    width: 100%;
    grid-template-columns: 100px minmax(500px, calc(50% - 100px)) minmax(250px, calc(25% - 50px)) minmax(250px, calc(25% - 50px)) 100px;
}

.table_vebinar .thead .tr,
.table_vebinar .tbody .tr {
    grid-template-columns: 100px minmax(300px, calc(30% - 80px)) minmax(150px, calc(12% - 20px)) minmax(150px, calc(12% - 20px)) minmax(150px, calc(12% - 20px)) minmax(150px, calc(12% - 20px)) minmax(150px, calc(12% - 20px)) minmax(150px, calc(10% - 20px)) 100px;
}
 
.table_event .thead .tr,
.table_event .tbody .tr {
    grid-template-columns: 100px minmax(500px, calc(50% - 100px)) minmax(200px, calc(25% - 50px)) minmax(300px, calc(25% - 50px)) 100px;
}

.table_user .thead .tr,
.table_user .tbody .tr {
    grid-template-columns: 100px minmax(360px, calc(35% - 100px)) minmax(150px, calc(15% - 25px)) minmax(120px, calc(15% - 25px)) minmax(135px, calc(15% - 25px)) minmax(243px, calc(25% - 25px)) 100px;
}

.table .thead .tr .th,
.table .tbody .tr .td {
    display: flex;
    align-items: center;
    min-height: 56px;
}

.table .thead .tr .th:first-child,
.table .tbody .tr .td:first-child {
    padding-left: 20px;
}
*/
.table .tbody .tr .td .icon_svg_table svg {
    width: 24px;
    max-height: 24px;
} 

.main .lc_content {
    padding: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-item svg {
    width: 24px;
    max-height: 24px;
}

.table_foot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.table_length {
    display: flex;
    align-items: center;
    height: 52px;
    padding: 0 10px;
}

.table_visible_page {
    display: flex;
    align-items: center;
    min-height: 52px;
    flex-wrap: wrap;
}

.table_visible_page select.select {
    border: 0;
    background: #fafafa;
    outline: none;
}

.nav-item.disabled {
    pointer-events: none;
    cursor: default;
}
.table_visible_page div {
    margin: 0 10px;
}

.pagination_arr {
    display: flex;
}

.pagination_arr a {
    display: flex;
    align-items: center;
}

.wrap_search input {
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    width: 100%;
    background: #fafafa;
    margin-bottom: 20px;
}

.icon_svg_table_edit svg {
    fill: #1faeea;
}

.icon_svg_table_remove svg {
    fill: #f50057;
}


.icon_svg_table_edit,
.icon_svg_table_remove {
    color: rgba(0, 0, 0, 0.54);
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_svg_table_edit:hover,
.icon_svg_table_remove:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.icon_sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-lc .sidebar .text_sidebar {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
}

.main-lc .sidebar .icon_sidebar {
    margin-right: 10px;
}

.main-lc .sidebar .icon_sidebar svg {
    width: 24px;
    height: 24px;
    fill: rgba(0, 0, 0, 0.54);
}

.main-lc .header .top-menu_right_name_item {
    align-items: center;
}

.dropdown-content.dropdown-menu {
    z-index: 99;
    right: 0;
    left: auto!important;
    top: 10px!important;
    height: auto!important;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.black-text.p_header {
    display: block;
}


.dropdown-content.dropdown-menu p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);

}


.tox-notifications-container {
    display: none!important;
}
